html, body {
    height: 100%;
    font-family: Poppings, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.section {
    background: url("../assets/background/paysage-image.jpg") center center no-repeat;
    min-height: 120vh;
    padding-top: 126px;
    align-items: center;
    justify-content: center; /* Ajout de cette ligne pour centrer horizontalement le contenu */
    padding-bottom: 90px;
    background-size: cover;
}

.container {
    flex-grow: 1;
}
.red {
    color: red;
}
footer {
    text-align: center;
    background-color: black;
    color: red;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin: 0 auto;
    background-color: black;
    color: white;
    opacity: 0.60;
}

td, th {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    margin: -2px;
}
th {
    color: lightblue;
}
hr {
    height: 2px;
    border: 0;
    background-image: linear-gradient(135deg, #202121 24%, #2a2c2c 50%, #353838 79%, #515456 100%);
}
.first-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.first-button:hover {
    background-color: #2980b9;
}
.orange {
    color: orange;
}
.input-note {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style lorsque l'input est en focus */
.input-note:focus {
    border-color: #007bff; /* Couleur de la bordure en cas de focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre légère lorsqu'il est en focus */
}

.blue-btn {

    padding: 15px 40px;
    background: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
li {
    list-style-type: none;
}